{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Package comparison for {{ tags[tag]['friendly_name'] }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed" style="margin: 0 auto !important; float;">
      <thead>
        <tr>
          <th>Package</th>
          {% for repository in repositories %}
          {% if tag in repository %}
          <th><a href="{{ repositories[repository]['url'] }}">{{ repositories[repository]['friendly_name'] }}</a></th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for package in packages %}
        <tr>
          {% if packages[package]['different'] %}
          <td><span class="label label-primary" style="font-size:100%">{{ package }}</span></td>
          {% else %}
          <td>{{ package }}</td>
          {% endif %}
          {% for repository in repositories %}
          {% if tag in repository %}
          <td>{{ packages[package][repository]['version']|truncate(length=25) if packages[package][repository]['version'] }}-{{ packages[package][repository]['release']|truncate(length=25) if packages[package][repository]['release'] }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
